*{
    /* background-color: #f3f3f3;    */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.explore{
    width: 100%;
    
    background-color: #32aeb1;

}
.nextExplor{
width: 75%;
margin:auto;
/* border: 1px solid red; */
}
.tab-1{
   
  cursor: pointer;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    position: relative;
    list-style: none;
    color: white;
    
}

.tab-1 li:hover>.innerTab{
display: block;
width: auto;
}
.innerTab {
    background-color: white;
    margin-top: 20px;
    padding: 10px 15px 10px 10px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    list-style-type: none;
    line-height: 30px;
  display: none;
}
a{ 
    color: black;
    text-decoration: none;
}
a:hover{ 
    color: #32aeb1;
}

.main-nav:hover{
color: white;
}
.main-nav{
    color: white;
}
.main-test{
    color: white;
}
.main-test:hover{
    color: white;
}

.health{
background: url(https://www.netmeds.com/assets/version1649433944/gloryweb/images/icons/health-library.svg) 0 0 no-repeat;
background-size: 40px;
    padding-left: 48px;
    padding: 12px 15px 15px 47px;
}
.beauty{
    background: url( https://www.netmeds.com/assets/gloryweb/images/icons/beauty.svg) 0 0 no-repeat;
    background-size: 40px;
    padding-left: 48px;
    padding: 12px 15px 15px 47px;
}
.medicine{
    background: url(https://www.netmeds.com/assets/version1649433944/gloryweb/images/icons/medicine.svg) 0 0 no-repeat;
    background-size: 40px;
    padding-left: 48px;
    padding: 12px 15px 15px 47px; 
}
.wellness{
    background: url(https://www.netmeds.com/assets/gloryweb/images/icons/wellness.svg) 0 0 no-repeat;
    background-size: 40px;
    padding-left: 48px;
    padding: 15px 15px 15px 47px;
}
.lab{
    background: url(https://www.netmeds.com/assets/gloryweb/images/icons/diagnostics.svg) 0 0 no-repeat;
    background-size: 40px;
    padding-left: 48px;
    padding: 15px 15px 15px 47px;
}

.innerTab li:hover{
    background-color: rgba(241, 241, 241, 0.63);
}
* {
  margin: 0%;
  padding: 0%;
  /* background-color: #f3f7fb; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#nav-bar {
  height: 150px;
  background-color: #32aeb1;
}
#nav-search-bar {
  display: flex;
  height: 50%;
  width: 95%;
  margin: auto;
}
#nav-option {
  height: 50%;
}
#nav-search-bar > img {
  padding-top: 0.5%;
}
#nav-search-bar > input {
  height: 65%;
  width: 55%;
  border: #32aeb1;
  border-radius: 5px;
  margin-top: 12px;
  margin-left: 1%;
}
#nav-bar > #nav-search-bar > #btn {
  margin: auto;
}
#nav-search-bar > #btn {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#nav-search-bar > #btn > p {
  display: inline;
  background-color: #32aeb1;
  color: white;
  margin-left: -20px;
  margin-top: +3px;
}
#nav-search-bar > #btn > img {
  margin-right: 25px;
}
#nav-search-bar > #btn :nth-child(5) {
  margin-left: -20px;
}
#nav-search-bar > #btn :nth-child(6) {
  margin-left: -40px;
}
#nav-option {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: flex;
}
#nav-option > div {
  width: 20%;
}
#nav-option > div > img {
  position: absolute;
  height: 50px;
}
#nav-option > div > select {
  position: relative;
  border: #32aeb1;
  background-color: #32aeb1;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 70px;
}
#nav-option > div > p {
  position: relative;
  border: #32aeb1;
  background-color: #32aeb1;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 70px;
}
#nav-p-options {
  width: 80%;
  margin: auto;
  margin-top: 5px;
}
#nav-p-options > p {
  display: inline;
  margin-left: 1%;
}
/* body{
    width: 90%;
    margin: auto;
} */
#top-bar-navigation{
    font-size: 12px;
    color: #0b7e81;
    /* margin-top: 500px; */
    padding-top: 40px;
}
body > #top-bar-navigation{
    width: 90%;
    margin: auto;
}
body > #top-bar-heading > p{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

body > #body-child{
    width: 90%;
    margin: auto;
}

#top-bar-navigation > span{
    color: black;
}
#top-bar-heading > p{
    font-size: 24px;
    font-weight: 500;
}
#body-child{
    display: flex;
}
#body-child > #filter-coupen{
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 20px;
    background-color: white;
    border-radius: 7px;
    height: max-content;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#filter-coupen > p{
    margin: 0 0 16px;
    font-size: 12px;
    color: rgba(21,27,57,.6);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    background-color: white;
}
#filter-coupen > span{
    width: 100%;
    /* display: block; */
    margin: 0;
    height: 18px;
    color: rgba(21,27,57,.6);
    line-height: 19px;
    background-color: white;
}
#filter-coupen > input{
    margin-top: 20px;
}
#selection-coupen{
    /* border: 1px solid red; */
    height: 500px;
    width: 80%;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
}
#body-child > #selection-coupen > .card {
    width: 45%;
    /* border: 1px solid green; */
    margin: auto;
    background-color: white;
    border-radius: 7px;
    margin-top: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* margin-bottom: 10px; */
}
#body-child > #selection-coupen > .card > img{
    width: 100%;
}
#body-child > #selection-coupen > .card > p{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
#body-child > #selection-coupen > .card :nth-child(2){
    /* border: 1px solid red; */
    display: block;
    color: #151b39;
    font-size: 20px;
    letter-spacing: .25px;
    margin-top: 4px;
}
#body-child > #selection-coupen > .card :nth-child(3){
    font-size: 13px;
    /* font-family: Lato; */
    color: #151b39;
    /* border : 1px solid red; */
    margin-top: -15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(21,27,57,.2);
}
#body-child > #selection-coupen > .card :nth-child(4){
    float: left;
    color: #378f30;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -8px;
}




